
.cal_Theme1 .ajax__calendar_container {
	background-color: #DEF1F4;
	border: 1px solid #c4c9da;
	width: auto;
	height: auto;
	font-size: 12px;
	z-index:999;
}

.cal_Theme1 .ajax__calendar_header {
	background-color: #ffffff;
	margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev {
	color: #004080;
	}

.cal_Theme1 .ajax__calendar_body {
	background-color: #ffffff;
	border: 1px solid #c4c9da;
	height:155px;
}

.cal_Theme1 .ajax__calendar_dayname {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
	color: #004080;
	width:100%;
}

.cal_Theme1 .ajax__calendar_day {
	color: #004080;
	border: 1px solid #bbbbbb;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active {
	color: #004080;
	font-weight: bold;
	background-color: #DEF1F4;
	padding-bottom:4px;
}
.cal_Theme1 .ajax__calendar_today {
	font-weight: bold;
	padding-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
	color: #bbbbbb;
	
}
	.cal_Theme1 .ajax__calendar_other .ajax__calendar_day,
	.cal_Theme1 .ajax__calendar_other .ajax__calendar_year {
		color: #ccc; /*Your background color of calender control*/
	}